---
layout: packery_index
title: Home
---

<div class="page">
    <div class="columnwrapper">
        <div class="news">  

            <div class="masthead">
                <img src="{{ site.digurl }}images/argonaut_header.jpg">
                <!--<h3 class="subpagetitle"><a class="arrow" href="about.html" title="about">«</a> The Vandal Voice since 1889! <a class="arrow" href="about.html" title="about">»</a></h3>-->
                <nav> 
                    <div id="i-refresh" class="i-button"><a>Refresh</a></div>
                    
                    <div id="i-menu" class="i-button">
                    <a id="navopen">
                        Menu
                    </a>
                    </div>
                </nav>
                <!--<p>Digital Highlights Edition</p>-->
                <h3><a class="arrow" href="about.html" title="about">«</a> The Vandal Voice since 1889! <a class="arrow" href="about.html" title="about">»</a></h3>
                <div style="clear:both;"></div>
            </div> 

            <div class="smallnav i-nav" id="navdropdown">  
                <div class="search-sm">
                    <form method="get" action="http://digital.lib.uidaho.edu/cdm4/results.php">
                        <input type="hidden" name="CISOOP1" value="all"></input>
                        <input type="text" name="CISOBOX1" size="23" placeholder=" Search All" class="search"></input>
                        <input type="hidden" name="CISOFIELD1" value="CISOSEARCHALL"></input>
                        <input type="hidden" name="CISOOP2" value="exaxt"></input>
                        <input type="hidden" name="CISOBOX2" value=""></input>
                        <input type="hidden" name="CISOFIELD2" value="CISOSEARCHALL"></input>
                        <input type="hidden" name="CISOOP3" value="any"></input>
                        <input type="hidden" name="CISOBOX3" value=""></input>
                        <input type="hidden" name="CISOFIELD3" value="CISOSEARCHALL"></input>
                        <input type="hidden" name="CISOOP4" value="none"></input>
                        <input type="hidden" name="CISOBOX4" value=""></input>
                        <input type="hidden" name="CISOFIELD4" value="CISOSEARCHALL"></input>
                        <input type="hidden" name="CISOROOT" value="/argonaut"></input>
                        <input type="submit" value="»" class="searchbutton"></input>
                    </form>
                </div>
                <ul>
                    <li><a class="navbutton" href="{{site.baseurl}}/about.html">About</a></li>
                    <li><a class="navbutton" href="{{site.baseurl}}/years.html">Browse Years</a></li>
                    <li><a class="navbutton" href="http://digital.lib.uidaho.edu/cdm/search/collection/argonaut">Database</a></li>
                    <li id="i-jumpyear">{% include jumpyear.html %}</li>
                </ul>
            </div>

            <div>
                <p>Breaking: UI Library provides online access to archive of the Argonaut!</p>
                <p>University of Idaho Library's Argonaut Newspaper Digital Collection provides acess to nearly 6,000 issues dating from 1898 to 2010. This page features randomized highlights to start exploring this amazing historic collection.</p>
            </div>

            <div class="grid" >
                
                <div class="grid-sizer"></div>
                <div class="gutter-sizer"></div>

                <!-- grid is filled with items from data file argo_highlights.csv, with fields refID,page,type,size,filename. grab the title data from argonaut.csv -->
                {% assign highlights = site.data.argo_highlights %}
                {% for highlight in highlights %}
                    {% assign issue = site.data.argonaut | where: "refID",highlight.refID %}
                    {% assign year = issue | map: "title" %}

                <div onclick="yearClick(this)" class="grid-item grid-{{ highlight.size }}">
                    <a href="http://digital.lib.uidaho.edu/cdm/ref/collection/argonaut/id/{{ highlight.refID }}" target="_blank" class="reveal">{{ year }}</a>
                    <div class="highlight">
                        <img class="himg" src="{{ site.digurl }}images/highlights/{{ highlight.filename }}" >
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
</div>