<!DOCTYPE html>
<html lang="en">
  <head>
  {% include head.html %}
  {% include packery_styles.html %}
  </head>

  <body>
    <header class="site-header">

      <div class="digitalheader">

        <div class="dilogo">
          <a href="http://www.lib.uidaho.edu/digital/index.html" title="University of Idaho Library Digital Initiatives" >
            <img src="http://www.lib.uidaho.edu/digital/bannerlogo_gray_bottom_DM.png" alt="University of Idaho Library Digital Initiatives" >
          </a> 
        </div>

        {% include allcollectionsOld.html %}

      </div>
    </header>

    

    <div class="contentwrapper">
      
      {{ content }}

    </div>

    {% include footer.html %}
    
    {% include scripts.html %}

    {% include index_script.html %}
    
    {% include analytics.html %}

  </body>

</html>
