---
layout: default
---

{% assign year = page.title %}
{% if year == 1898 %}
    {% assign prev = '../years.html' %}
{% else %}
    {% assign prevyear = year | minus:1 %}
    {% assign prev = 'argonaut' | append: prevyear | append: '.html' %}
{% endif %}
{% if year == 2010 %}
    {% assign next = '../years.html' %}
{% else %}
    {% assign nextyear = year | plus:1 %}
    {% assign next = 'argonaut' | append: nextyear | append: '.html' %}
{% endif %}

<div class="page">

    <div class="pageheader">
        <h3 class="subpagetitle"><a class="arrow" href="{{prev}}">«</a> {{year}} <a href="{{next}}">»</a></h3>
    </div>
        <!-- creates year pages at years/argonaut{{ year }}.html from data file site.data.argonaut that has fields: title,date,year,description,subject,id,refID
        each year needs a md with the year as title, generate the md using python:
            for year in range (1898,2011):
                filename = "argonaut" + str(year) + ".md"
                with open (filename, 'w') as md:
                    md.write("""---
                    layout: year
                    title: """ + str(year) + """
                    ---
                    """)         
        -->
    <div class="columnwrapper">
        
        <img src="../images/years/argonaut{{year}}_sm.jpg" alt="Argonaut {{year}}">

        <!-- issue table: -->
        <table>
            <thead>
                <tr>
                    <th>Thumbnail</th>
                    <th>Issue date</th>
                    <th>Subjects</th>
                </tr>
            </thead>
            
            {% assign issues = site.data.argonaut | where: "year", year %}
            {% for issue in issues %}
            <tr>
                <td><img src="http://digital.lib.uidaho.edu/utils/getthumbnail/collection/argonaut/id/{{ issue.refID }}"></td>
                <td><a href="http://digital.lib.uidaho.edu/cdm/ref/collection/argonaut/id/{{ issue.refID }}">{{ issue.title }}</a></td>
                <td>{{ issue.subject }}</td>
            </tr>
            {% endfor %}
        </table>

    </div>

</div>