---
layout: default
---

{% assign year = page.title %}
{% if year == 1898 %}
    {% assign prev = '../years.html' %}
{% else %}
    {% assign prevyear = year | minus:1 %}
    {% assign prev = 'argonaut' | append: prevyear | append: '.html' %}
{% endif %}
{% if year == 2010 %}
    {% assign next = '../years.html' %}
{% else %}
    {% assign nextyear = year | plus:1 %}
    {% assign next = 'argonaut' | append: nextyear | append: '.html' %}
{% endif %}

<div class="page">

    <div class="pageheader">
        <h3 class="subpagetitle"><a class="arrow" href="{{prev}}">«</a> {{year}} <a href="{{next}}">»</a></h3>
    </div>
        <!-- 
            urls should be years/argonaut{{ year }}.html
            site.data.argonaut
            title,date,year,description,subject,id,url 
            
            each year just needs a md with the year as title
            
            used this python to generate:
            for year in range (1898,2011):
                filename = "argonaut" + str(year) + ".md"
                with open (filename, 'w') as md:
                    md.write("""---
                    layout: year
                    title: """ + str(year) + """
                    ---
                    """)
                    
        -->
    <div class="columnwrapper">
        
        <img src="../images/years/argonaut{{year}}_sm.jpg" alt="Argonaut {{year}}">
        <!-- as list:
        <h3>Issue date, Subjects</h3>

        <ul class="issuelist">
            {% assign issues = site.data.argonaut | where: "year", year %}
            {% for issue in issues %}

            <li>
                <div class="issue"><a href="{{ issue.url }}">{{ issue.title }}</a></div>
                <div class="subject">{{ issue.subject }}</div>
            </li>
            
            {% endfor %}
            
        </ul>
        -->
        <!-- as table: -->
        <table>
            <thead>
                <tr>
                    <th>Thumbnail</th>
                    <th>Issue date</th>
                    <th>Subjects</th>
                </tr>
            </thead>
            
            {% assign issues = site.data.argonaut | where: "year", year %}
            {% for issue in issues %}
            <tr>
                <td><img src="{{ issue.url | replace_first: 'cdm/ref','utils/getthumbnail' }}"></td>
                <td><a href="{{ issue.url }}">{{ issue.title }}</a></td>
                <td>{{ issue.subject }}</td>
            </tr>
            {% endfor %}
        </table>


    </div>

</div>